.assistant {
  height: 250px;
  width: 250px;
  background-image: url('https://i.imgur.com/RRN4npz.png');
  background-size: cover;
  position: fixed;
  bottom: 0;
  left: -10;
  border-radius: 40px;
}

@keyframes item-disappearing {
  0% {
    filter: blur(0px);
  }
  80% {
    opacity: 1;
  }
  100% {
    filter: blur(8px);
    transform: scale(1.5);
    opacity: 0;
  }
}

.item-disappearing {
  animation: item-disappearing 1s;
}

@keyframes vibrate {
  0% {
    transform: scale(1.1) translateX(-2px)
  }
  50% {
    transform: scale(1.1) translateX(2px)
  }
  100% {
    transform: scale(1.1) translateX(-2px)
  }
}

.assistant.vibrate {
  animation: vibrate 0.1s 12;
}

.speech-bubble {
  display: block;
  position: fixed;
  width: fit-content;
  padding: 60px;
  margin-left: 40px;
  bottom: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.assistant:hover {
cursor: pointer;
background-image: url('https://i.imgur.com/BWA18Ur.png');

}

.popup{
  display: block;
  font-family: Comic Sans MS, sans-serif;
  font-size: 80px;
  margin-right: 30px;
}

#mainChat { 
  position: fixed;
  width: 30%;
  height: 50%;
  left: 140px;
  bottom: 60px;
  background-color: white;
  border-radius: 10px;
  margin: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#messagesContainer {
  height: 80%;
  margin: 10px;
  overflow: scroll;
  scroll-snap-type: none;
}

#input {
  position: fixed;
  width: 30%;
  height: 5%;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#chatHeader {
  background-color: skyblue;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#chatboxTitle {
  display: inline-block;
  margin-left: 45%;
  font-weight: bold;
  font-size: large;
  padding-top: 10px;
}

#closeChatBox {
  display: inline-block; 
  margin-left: 80px;
  height: 35px;
  width: fit-content;
  border-radius: 20px;
}

.messages {
	overflow-wrap: break-word;
	height: 90%;
	width: 100%;
	background-color: white;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}

.user-response {
  display: block;
  float: right;
  text-align: right;
  height: auto;
  width: fit-content;
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
  border-radius: 10px;
}

.bot-response {
  display: block;
  clear: right;
  text-align: left;
  height: auto;
  width: fit-content;
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightblue;
  border-radius: 10px;
}
